@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome in Our Web Site.</h1>
    <p class="lead">enjoy and Watch your favourite movies.</p>
    <h4 class="">@Html.ActionLink("Watch Now", "Random", "Movies")</h4>
</div>
